<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<s class="navbar-brand">Abel Site</s>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="abel/" Match="NavLinkMatch.All">
				<i class="material-icons px-2">home</i> 
				Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="abel/dms">
				<i class="material-icons px-2">camera</i>
				Search our DMS!
			</NavLink>
		</div>
	</nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
