@page "/abel/"
@inherits AbelBase

<PageTitle>Home</PageTitle>

<h1>Hi Abel :3</h1>

Happy Birthday!!! How's it feel being what, 13?? Ouch, terrible age...
<br/>
Anywhoooooo, I hope you have a great bday :3. 
<br />
Here's a cake with no frosting, just how you like it!
<br />
<br />
<br />
<img src="CakeWithoutFrosting.webp" alt="Cake Without Frosting">
<br />
<br />
<br />
P.S. If you're reading this after your birthday, disregard the above message, it doesn't apply anymore...
<br />
P.S.S. If you're reading this and you're not abel, 1. why are you here, 2. Uhhhh leave please...
